#page-title
  %h3 Link Paypal Accounts to Devex
  %h4
  
    = "Name : " + [@paypal_account.first_name, @paypal_account.last_name].join(" ")
    %br
    = "Paypal Email : " + @paypal_account.email
    %br
    = "Paypal ID : " + @paypal_account.payer_id.to_s
  
#content-options
  #content-buttons

  #content-search
    = text_field_tag "query", "Search...", :size => 30, :onclick => "this.value=''"
    Company
    = observe_field('query', :frequency => 2, :update => "search_results", :with => 'query' , :url => {:controller => 'users', :action => "find_users", :paypal_account_id => params[:id]})

%hr
%table.table2
  %thead
    %tr
      %th{:scope => "col"} Username
      %th{:scope => "col"} Service Level
      %th{:scope => "col"} Join Date
      %th{:scope => "col"} Company             
      %th{:scope => "col"} Options
  %tbody#search_results
