#page-title
  %h3 Incoming Paypal Accounts
  %h4 Lists New Paypal Accounts registered to the system by Paypal 
#content-options
  #content-buttons

  #content-search
    =text_field_tag "Search", "Search...", :size => 30

%table.table2
  %thead
    %tr
      %th{:scope => "col"} Paypal Account Email
      %th{:scope => "col"} Paypal Account Name
      %th{:scope => "col"} Transactions
      %th{:scope => "col"} Options
  %tbody
    - @paypal_accounts.each do |paypal_account|
      %tr
        %td= paypal_account.email
        %td= [paypal_account.first_name, paypal_account.last_name].join(" ")
        %td= link_to "#{paypal_account.transactions.count}", "#", :style => "text-decoration:none"
        %td= link_to "Link to Devex Account", map_paypal_account_path(paypal_account)
      