#page-title
  %h3 Mapped Accounts List
  %h4 Displays reconciliation between Devex accounts and their QB and Paypal accounts
#content-options
  #content-buttons
    =link_to "Link Incoming Paypal Accounts", orphans_paypal_accounts_path, :class => "awesome orange"  

= will_paginate @devex_users
%table.table2
  %thead
    %tr
      %th
      %th{:scope => "col"} Name
      %th{:scope => "col"} Devex Account Type
      %th{:scope => "col"} Paypal Accounts
      %th{:scope => "col"} QB Account     
      %th{:scope => "col"} Transactions
      
  %tbody
    - @devex_users.each do |devex_user|
      %tr
        %th{:scope => "row"}= devex_user.username 
        %td= [devex_user.first_name, devex_user.last_name].join(" ")
        %td= devex_user.account_type
        %td= link_to devex_user.paypal_accounts.count, devex_user_paypal_accounts_path(devex_user)
        - if devex_user.qb_member_name.blank?
          %td= link_to "Edit", edit_devex_user_path(devex_user)
        - else
          %td= link_to devex_user.qb_member_name, edit_devex_user_path(devex_user), :class => "cool-link-red"
        %td= link_to devex_user.transactions.count, devex_user_transactions_path(devex_user)
  = will_paginate @devex_users
  = page_entries_info @devex_users
  