<p id="notice"><%= notice %></p>

<p>
  <b>Status:</b>
  <%= @transaction.status %>
</p>

<p>
  <b>User:</b>
  <%= @transaction.user_id %>
</p>

<p>
  <b>User type:</b>
  <%= @transaction.user_type %>
</p>

<p>
  <b>Transaction reference:</b>
  <%= @transaction.transaction_reference %>
</p>


<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
