#page-title
  %h3 Dashboard
.notifications
  .notice
    = transaction_count 
    from paypal since your last visit
    %br
    = orphan_paypal_accounts_count
    needs to get linked
    %br
    = uploadable_transactions_count
    have not yet been uploaded to quickbooks
    %br
    = invoices_for_next_batch_update
    Sales Receipt Transactions will be uploaded to quickbooks on next update
    %br
    = credit_memos_for_next_batch_update
    Credit Memos Transactions will be uploaded to quickbooks on next update
    
#content-options
  %fieldset
    %legend Filter
    = form_tag(reports_path, :method => 'get') do 
      I want a list of 
      = select_tag "list_of", options_for_select([["Sales Revenues", "invoice"], ["Credit Memos", "credit"]], params[:list_of])
      %br
      From
      =# date_select "date_from", ""
      = calendar_date_select_tag "date_from", @date_from, :popup => "force"
      To
      =# date_select "date_to", ""
      = calendar_date_select_tag "date_to", @date_to, :popup => "force"
      %br
      For the Product
      = select_tag "product", options_for_select(Product.all.map{|x| [x.name, x.id]} + ['ALL'], params[:product])
      %br    
      = submit_tag "Filter"

    
  
  Export to 
  = link_to "Excel", export_reports_path(:date_from => @date_from, :date_to => @date_to, :product => params[:product]), :class => "awesome blue small"
  =# link_to "PDF","#", :class => "awesome green small"
%div{:style => "clear:both"}

- if params[:list_of] == 'credit'
  Total Amount Credited : 
- else
  Total Sales Revenue : 

= @total
USD
  
%br
  %center
    = will_paginate @transactions
%table
  %thead
    %tr
      %th Paypal Transaction ID
      %th Paypal Email
      %th Devex Username
      %th Product
      %th Amount
      %th Date
      %th In QB?

  - @transactions.each do |transaction|    
    %tbody
      %tr
        %td=link_to transaction.transaction_reference, transaction_path(transaction)
        %td
          / = link_to transaction.paypal_account.email, paypal_account_path(transaction.paypal_account), :class => "cool-link-blue"
          = transaction.paypal_account.email
        %td
          = link_to transaction.paypal_account.devex_user.full_name, devex_user_transactions_path(transaction.paypal_account.devex_user), :class => "cool-link-orange" if transaction.paypal_account.devex_user
        %td= transaction.product
        %td{:style => "font-weight:bold;color:#{transaction.classification.eql?('credit') ? 'red' : 'green'}"}= transaction.amount.to_s + " USD" unless transaction.amount.blank?
        %td= transaction.created_at
        %td= link_to transaction.uploaded_to_qb?.to_s, upload_to_qb_transaction_path(transaction)
%center
  = will_paginate @transactions
  = page_entries_info @transactions      